@page
@model T2204M_ASPNETMVC.Models.CategoryViewModel
@{}
@using (Html.BeginForm("Create", "Category", FormMethod.Post))
    {
    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
